
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

:root {
	color-scheme: dark;
	--link: cyan;
}

::-webkit-scrollbar { width: 4px; }
::-webkit-scrollbar-track { background: transparent; }
::-webkit-scrollbar-thumb { background: #333; border-radius: 1em; }
::-webkit-scrollbar-thumb:hover { background: #444; }

a {
	color: var(--link);
	text-decoration: none;

	&:visited {
		color: color-mix(in srgb, purple, var(--link) 70%);
	}

	&:hover {
		color: color-mix(in srgb, white, var(--link) 90%);
		text-decoration: underline;
	}

	&:active {
		color: color-mix(in srgb, white, var(--link) 50%);
	}
}

html, body {
	font-size: 16px;
	min-height: 100%;

	color: gray;
	background: black;
}

body {
	width: 100vw;
	height: 100vh;
}

lettuce-layout {
	color: #8fae94;
	background: #1b3125;

	--highlight: #76ff6b;
	--special: yellow;
	--pane: transparent;
	--taskbar: transparent;
	--tab: transparent;
	--gutter: #0d1f15;
	--focal: transparent;
	--pointer-lock: yellow;
}

